.App {
    max-width: 1920px;
    margin: 0 auto;

    .main {
        flex-grow: 1;
        padding: 24px;
        overflow-x: hidden;
    }

    .drawerContainer {
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    .App .main {
        padding: 24px 0px;
        border-left: 1px solid #e0e0e0;
    }
}