.App {
    .companyTitleContainer {
        display: flex;
        align-items: center;

        .companyTitle {
            flex: 1;
            padding-left: 16px;
            font-size: 28px;
            font-weight: bold;
        }
    }

    .blackColor{
        color: black;
    }

    .mainContent{
        flex-grow: 1;
        padding: 24px;
    }
}