.mainTableContainer {
    .tabsContainer {

        .tabsButton {
            min-width: 100px;
            width: min-content;
            white-space: break-spaces;
            overflow-wrap: break-word;
            padding: 12px 8px;
           
        }


    }

    .roadMapContainer{
        padding: 24px;
    }
}